-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lars
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_creation_log`
--

DROP TABLE IF EXISTS `account_creation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `account_creation_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `created_user_id` int(11) NOT NULL,
  `created_by_staff_id` int(11) NOT NULL,
  `account_type` enum('student','teacher') NOT NULL,
  `creation_method` enum('manual','bulk_upload') DEFAULT 'manual',
  `creation_timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `additional_info` text DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `idx_created_user` (`created_user_id`),
  KEY `idx_created_by` (`created_by_staff_id`),
  KEY `idx_creation_timestamp` (`creation_timestamp`),
  CONSTRAINT `account_creation_log_ibfk_1` FOREIGN KEY (`created_user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `account_creation_log_ibfk_2` FOREIGN KEY (`created_by_staff_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_creation_log`
--

LOCK TABLES `account_creation_log` WRITE;
/*!40000 ALTER TABLE `account_creation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_creation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activities`
--

DROP TABLE IF EXISTS `activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activities` (
  `activity_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `description` text DEFAULT NULL,
  `teacher_id` int(11) NOT NULL,
  `subject_id` int(11) NOT NULL,
  `activity_type` enum('quiz','assignment','recitation','exam','crossword','flashcards','speed_typing') DEFAULT 'quiz',
  `total_points` int(11) NOT NULL DEFAULT 100,
  `time_limit` int(11) DEFAULT NULL COMMENT 'Time limit in minutes',
  `due_date` datetime DEFAULT NULL,
  `game_settings` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`game_settings`)),
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`activity_id`),
  KEY `idx_teacher_id` (`teacher_id`),
  KEY `idx_subject_id` (`subject_id`),
  KEY `idx_activity_type` (`activity_type`),
  KEY `idx_is_active` (`is_active`),
  KEY `idx_activities_teacher_subject` (`teacher_id`,`subject_id`),
  KEY `idx_activities_due_date` (`due_date`),
  CONSTRAINT `fk_activities_subject` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_activities_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activities`
--

LOCK TABLES `activities` WRITE;
/*!40000 ALTER TABLE `activities` DISABLE KEYS */;
INSERT INTO `activities` VALUES (29,'Filipino Recitation Quiz ΓÇô Grade 7','',62,1,'quiz',50,15,'2025-09-17 17:30:00',NULL,1,'2025-09-17 07:34:47','2025-09-17 07:34:47'),(30,'sample 2','',62,1,'recitation',30,10,'2025-09-17 19:52:00',NULL,1,'2025-09-17 09:52:59','2025-09-17 09:52:59');
/*!40000 ALTER TABLE `activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_analytics`
--

DROP TABLE IF EXISTS `activity_analytics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_analytics` (
  `analytics_id` int(11) NOT NULL AUTO_INCREMENT,
  `activity_id` int(11) NOT NULL,
  `total_students` int(11) DEFAULT 0,
  `completed_submissions` int(11) DEFAULT 0,
  `pending_submissions` int(11) DEFAULT 0,
  `average_score` decimal(5,2) DEFAULT NULL,
  `highest_score` decimal(5,2) DEFAULT NULL,
  `lowest_score` decimal(5,2) DEFAULT NULL,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`analytics_id`),
  UNIQUE KEY `unique_activity_analytics` (`activity_id`),
  CONSTRAINT `fk_analytics_activity` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`activity_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_analytics`
--

LOCK TABLES `activity_analytics` WRITE;
/*!40000 ALTER TABLE `activity_analytics` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_analytics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_questions`
--

DROP TABLE IF EXISTS `activity_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_questions` (
  `question_id` int(11) NOT NULL AUTO_INCREMENT,
  `activity_id` int(11) NOT NULL,
  `question_text` text NOT NULL,
  `question_type` enum('multiple_choice','true_false','short_answer','essay','crossword_clue','flashcard','typing_text') DEFAULT 'multiple_choice',
  `points` int(11) NOT NULL DEFAULT 10,
  `question_order` int(11) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`question_id`),
  KEY `idx_activity_id` (`activity_id`),
  KEY `idx_question_order` (`question_order`),
  CONSTRAINT `fk_questions_activity` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`activity_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_questions`
--

LOCK TABLES `activity_questions` WRITE;
/*!40000 ALTER TABLE `activity_questions` DISABLE KEYS */;
INSERT INTO `activity_questions` VALUES (51,29,'Ano ang ibig sabihin ng salitang ΓÇ£pangarapΓÇ¥?','multiple_choice',10,1,'2025-09-17 07:34:47'),(52,29,'Ano ang pangunahing layunin ng tula o panulaan?','multiple_choice',10,2,'2025-09-17 07:34:47'),(53,30,'1','multiple_choice',10,1,'2025-09-17 09:52:59'),(54,30,'2','multiple_choice',10,2,'2025-09-17 09:52:59'),(55,30,'3','multiple_choice',10,3,'2025-09-17 09:52:59');
/*!40000 ALTER TABLE `activity_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `game_achievements`
--

DROP TABLE IF EXISTS `game_achievements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `game_achievements` (
  `achievement_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `activity_id` int(11) NOT NULL,
  `achievement_type` enum('speed_master','perfect_score','quick_learner','practice_streak') NOT NULL,
  `achieved_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `details` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details`)),
  PRIMARY KEY (`achievement_id`),
  KEY `student_id` (`student_id`),
  KEY `activity_id` (`activity_id`),
  CONSTRAINT `game_achievements_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `game_achievements_ibfk_2` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`activity_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `game_achievements`
--

LOCK TABLES `game_achievements` WRITE;
/*!40000 ALTER TABLE `game_achievements` DISABLE KEYS */;
/*!40000 ALTER TABLE `game_achievements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `game_content`
--

DROP TABLE IF EXISTS `game_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `game_content` (
  `content_id` int(11) NOT NULL AUTO_INCREMENT,
  `activity_id` int(11) NOT NULL,
  `content_type` enum('crossword_grid','flashcard_deck','typing_exercise') NOT NULL,
  `content_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`content_data`)),
  `difficulty_level` enum('easy','medium','hard') DEFAULT 'medium',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`content_id`),
  KEY `activity_id` (`activity_id`),
  CONSTRAINT `game_content_ibfk_1` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`activity_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `game_content`
--

LOCK TABLES `game_content` WRITE;
/*!40000 ALTER TABLE `game_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `game_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `game_progress`
--

DROP TABLE IF EXISTS `game_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `game_progress` (
  `progress_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `activity_id` int(11) NOT NULL,
  `score` int(11) DEFAULT 0,
  `time_taken` int(11) DEFAULT NULL COMMENT 'Time taken in seconds',
  `completion_percentage` decimal(5,2) DEFAULT 0.00,
  `correct_answers` int(11) DEFAULT 0,
  `total_attempts` int(11) DEFAULT 0,
  `last_played` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`progress_id`),
  KEY `student_id` (`student_id`),
  KEY `activity_id` (`activity_id`),
  CONSTRAINT `game_progress_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`user_id`),
  CONSTRAINT `game_progress_ibfk_2` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`activity_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `game_progress`
--

LOCK TABLES `game_progress` WRITE;
/*!40000 ALTER TABLE `game_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `game_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_choices`
--

DROP TABLE IF EXISTS `question_choices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question_choices` (
  `choice_id` int(11) NOT NULL AUTO_INCREMENT,
  `question_id` int(11) NOT NULL,
  `choice_text` text NOT NULL,
  `is_correct` tinyint(1) DEFAULT 0,
  `choice_order` int(11) NOT NULL DEFAULT 1,
  PRIMARY KEY (`choice_id`),
  KEY `idx_question_id` (`question_id`),
  KEY `idx_is_correct` (`is_correct`),
  CONSTRAINT `fk_choices_question` FOREIGN KEY (`question_id`) REFERENCES `activity_questions` (`question_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=154 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_choices`
--

LOCK TABLES `question_choices` WRITE;
/*!40000 ALTER TABLE `question_choices` DISABLE KEYS */;
INSERT INTO `question_choices` VALUES (137,51,'Takot',0,1),(138,51,'Layunin o minimithing bagay',1,2),(139,51,'Pagkakamali',0,3),(140,51,'Kaibigan',0,4),(141,52,'Maglaro',0,1),(142,52,'Magpahayag ng damdamin at kaisipan',1,2),(143,52,'Magturo ng matematika',0,3),(144,52,'Magbenta ng produkto',0,4),(145,53,'1',1,1),(146,53,'2',0,2),(147,53,'3',0,3),(148,54,'1',0,1),(149,54,'2',1,2),(150,54,'3',0,3),(151,55,'1',0,1),(152,55,'2',0,2),(153,55,'3',1,3);
/*!40000 ALTER TABLE `question_choices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `role_id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'admin'),(2,'staff'),(4,'student'),(3,'teacher');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_answers`
--

DROP TABLE IF EXISTS `student_answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_answers` (
  `answer_id` int(11) NOT NULL AUTO_INCREMENT,
  `submission_id` int(11) NOT NULL,
  `question_id` int(11) NOT NULL,
  `choice_id` int(11) DEFAULT NULL COMMENT 'For multiple choice questions',
  `answer_text` text DEFAULT NULL COMMENT 'For text-based questions',
  `points_earned` decimal(5,2) DEFAULT 0.00,
  `is_correct` tinyint(1) DEFAULT NULL,
  `answered_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`answer_id`),
  UNIQUE KEY `unique_submission_question` (`submission_id`,`question_id`),
  KEY `idx_submission_id` (`submission_id`),
  KEY `idx_question_id` (`question_id`),
  KEY `idx_choice_id` (`choice_id`),
  KEY `idx_answers_correct` (`is_correct`),
  CONSTRAINT `fk_answers_choice` FOREIGN KEY (`choice_id`) REFERENCES `question_choices` (`choice_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_answers_question` FOREIGN KEY (`question_id`) REFERENCES `activity_questions` (`question_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_answers_submission` FOREIGN KEY (`submission_id`) REFERENCES `student_submissions` (`submission_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_answers`
--

LOCK TABLES `student_answers` WRITE;
/*!40000 ALTER TABLE `student_answers` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_login_audit`
--

DROP TABLE IF EXISTS `student_login_audit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_login_audit` (
  `audit_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `username_attempted` varchar(100) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `login_status` enum('success','failed','blocked') NOT NULL,
  `failure_reason` varchar(255) DEFAULT NULL,
  `attempt_timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `user_agent` text DEFAULT NULL,
  PRIMARY KEY (`audit_id`),
  KEY `idx_audit_user` (`user_id`),
  KEY `idx_audit_ip` (`ip_address`),
  KEY `idx_audit_timestamp` (`attempt_timestamp`),
  CONSTRAINT `student_login_audit_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_login_audit`
--

LOCK TABLES `student_login_audit` WRITE;
/*!40000 ALTER TABLE `student_login_audit` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_login_audit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_submissions`
--

DROP TABLE IF EXISTS `student_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_submissions` (
  `submission_id` int(11) NOT NULL AUTO_INCREMENT,
  `activity_id` int(11) NOT NULL,
  `student_id` int(11) NOT NULL,
  `submission_status` enum('not_started','in_progress','submitted','graded') DEFAULT 'not_started',
  `total_score` decimal(5,2) DEFAULT NULL,
  `max_score` decimal(5,2) NOT NULL,
  `percentage` decimal(5,2) DEFAULT NULL,
  `time_spent` int(11) DEFAULT NULL COMMENT 'Time spent in minutes',
  `submitted_at` timestamp NULL DEFAULT NULL,
  `graded_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`submission_id`),
  UNIQUE KEY `unique_student_activity` (`activity_id`,`student_id`),
  KEY `idx_activity_id` (`activity_id`),
  KEY `idx_student_id` (`student_id`),
  KEY `idx_submission_status` (`submission_status`),
  KEY `idx_submissions_student_status` (`student_id`,`submission_status`),
  KEY `idx_submissions_activity_status` (`activity_id`,`submission_status`),
  CONSTRAINT `fk_submissions_activity` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`activity_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_submissions_student` FOREIGN KEY (`student_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_submissions`
--

LOCK TABLES `student_submissions` WRITE;
/*!40000 ALTER TABLE `student_submissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjects` (
  `subject_id` int(11) NOT NULL AUTO_INCREMENT,
  `subject_name` varchar(100) NOT NULL,
  `grade_level` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`subject_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
INSERT INTO `subjects` VALUES (1,'FILIPINO 7','7','2025-09-14 14:56:09','2025-09-14 14:56:09'),(2,'ENGLISH 8','8','2025-09-14 14:56:53','2025-09-14 14:56:53'),(3,'SCIENCE 9','9','2025-09-14 14:57:05','2025-09-14 14:57:05'),(4,'MATH 10','10','2025-09-14 14:57:17','2025-09-14 14:57:17');
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_subjects`
--

DROP TABLE IF EXISTS `teacher_subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teacher_subjects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `teacher_id` int(11) NOT NULL,
  `subject_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_teacher_subject` (`teacher_id`,`subject_id`),
  KEY `subject_id` (`subject_id`),
  CONSTRAINT `teacher_subjects_ibfk_1` FOREIGN KEY (`teacher_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `teacher_subjects_ibfk_2` FOREIGN KEY (`subject_id`) REFERENCES `subjects` (`subject_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_subjects`
--

LOCK TABLES `teacher_subjects` WRITE;
/*!40000 ALTER TABLE `teacher_subjects` DISABLE KEYS */;
INSERT INTO `teacher_subjects` VALUES (8,62,1),(9,63,2),(7,64,4),(10,65,3);
/*!40000 ALTER TABLE `teacher_subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_logs`
--

DROP TABLE IF EXISTS `user_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_logs` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action` varchar(255) NOT NULL,
  `affected_user_id` int(11) DEFAULT NULL,
  `action_timestamp` timestamp NOT NULL DEFAULT current_timestamp(),
  `ip_address` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`log_id`),
  KEY `user_id` (`user_id`),
  KEY `affected_user_id` (`affected_user_id`),
  CONSTRAINT `user_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `user_logs_ibfk_2` FOREIGN KEY (`affected_user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=247 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_logs`
--

LOCK TABLES `user_logs` WRITE;
/*!40000 ALTER TABLE `user_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(100) NOT NULL,
  `role_id` int(11) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `grade_level` varchar(2) DEFAULT NULL,
  `section` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_username` (`username`),
  KEY `idx_users_email` (`email`),
  KEY `idx_users_role` (`role_id`),
  KEY `idx_users_login_lookup` (`username`,`email`,`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_activity_summary`
--

DROP TABLE IF EXISTS `v_activity_summary`;
/*!50001 DROP VIEW IF EXISTS `v_activity_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_activity_summary` AS SELECT
 1 AS `activity_id`,
  1 AS `title`,
  1 AS `description`,
  1 AS `activity_type`,
  1 AS `total_points`,
  1 AS `due_date`,
  1 AS `is_active`,
  1 AS `teacher_name`,
  1 AS `subject_name`,
  1 AS `grade_level`,
  1 AS `total_students`,
  1 AS `completed_submissions`,
  1 AS `pending_submissions`,
  1 AS `average_score`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_login_statistics`
--

DROP TABLE IF EXISTS `v_login_statistics`;
/*!50001 DROP VIEW IF EXISTS `v_login_statistics`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_login_statistics` AS SELECT
 1 AS `login_date`,
  1 AS `total_attempts`,
  1 AS `successful_logins`,
  1 AS `failed_attempts`,
  1 AS `unique_users`,
  1 AS `unique_ips` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_student_accounts`
--

DROP TABLE IF EXISTS `v_student_accounts`;
/*!50001 DROP VIEW IF EXISTS `v_student_accounts`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_student_accounts` AS SELECT
 1 AS `user_id`,
  1 AS `username`,
  1 AS `email`,
  1 AS `first_name`,
  1 AS `last_name`,
  1 AS `full_name`,
  1 AS `grade_level`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `created_by_staff_id`,
  1 AS `created_by_staff_username`,
  1 AS `created_by_staff_name`,
  1 AS `creation_method`,
  1 AS `creation_timestamp`,
  1 AS `total_logins`,
  1 AS `last_login` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_student_activity_scores`
--

DROP TABLE IF EXISTS `v_student_activity_scores`;
/*!50001 DROP VIEW IF EXISTS `v_student_activity_scores`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_student_activity_scores` AS SELECT
 1 AS `submission_id`,
  1 AS `activity_id`,
  1 AS `activity_title`,
  1 AS `activity_type`,
  1 AS `student_name`,
  1 AS `grade_level`,
  1 AS `subject_name`,
  1 AS `total_score`,
  1 AS `max_score`,
  1 AS `percentage`,
  1 AS `submission_status`,
  1 AS `submitted_at`,
  1 AS `graded_at`,
  1 AS `teacher_name` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_activity_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_activity_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_activity_summary` AS select `a`.`activity_id` AS `activity_id`,`a`.`title` AS `title`,`a`.`description` AS `description`,`a`.`activity_type` AS `activity_type`,`a`.`total_points` AS `total_points`,`a`.`due_date` AS `due_date`,`a`.`is_active` AS `is_active`,concat(`u`.`first_name`,' ',`u`.`last_name`) AS `teacher_name`,`s`.`subject_name` AS `subject_name`,`s`.`grade_level` AS `grade_level`,coalesce(`an`.`total_students`,0) AS `total_students`,coalesce(`an`.`completed_submissions`,0) AS `completed_submissions`,coalesce(`an`.`pending_submissions`,0) AS `pending_submissions`,coalesce(`an`.`average_score`,0) AS `average_score`,`a`.`created_at` AS `created_at` from (((`activities` `a` join `users` `u` on(`a`.`teacher_id` = `u`.`user_id`)) join `subjects` `s` on(`a`.`subject_id` = `s`.`subject_id`)) left join `activity_analytics` `an` on(`a`.`activity_id` = `an`.`activity_id`)) order by `a`.`created_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_login_statistics`
--

/*!50001 DROP VIEW IF EXISTS `v_login_statistics`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_login_statistics` AS select cast(`student_login_audit`.`attempt_timestamp` as date) AS `login_date`,count(0) AS `total_attempts`,sum(case when `student_login_audit`.`login_status` = 'success' then 1 else 0 end) AS `successful_logins`,sum(case when `student_login_audit`.`login_status` = 'failed' then 1 else 0 end) AS `failed_attempts`,count(distinct `student_login_audit`.`user_id`) AS `unique_users`,count(distinct `student_login_audit`.`ip_address`) AS `unique_ips` from `student_login_audit` group by cast(`student_login_audit`.`attempt_timestamp` as date) order by cast(`student_login_audit`.`attempt_timestamp` as date) desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_student_accounts`
--

/*!50001 DROP VIEW IF EXISTS `v_student_accounts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_student_accounts` AS select `u`.`user_id` AS `user_id`,`u`.`username` AS `username`,`u`.`email` AS `email`,`u`.`first_name` AS `first_name`,`u`.`last_name` AS `last_name`,concat(`u`.`first_name`,' ',`u`.`last_name`) AS `full_name`,`u`.`grade_level` AS `grade_level`,`u`.`created_at` AS `created_at`,`u`.`updated_at` AS `updated_at`,`acl`.`created_by_staff_id` AS `created_by_staff_id`,`staff`.`username` AS `created_by_staff_username`,concat(`staff`.`first_name`,' ',`staff`.`last_name`) AS `created_by_staff_name`,`acl`.`creation_method` AS `creation_method`,`acl`.`creation_timestamp` AS `creation_timestamp`,(select count(0) from `student_login_audit` `sla` where `sla`.`user_id` = `u`.`user_id` and `sla`.`login_status` = 'success') AS `total_logins`,(select max(`sla`.`attempt_timestamp`) from `student_login_audit` `sla` where `sla`.`user_id` = `u`.`user_id` and `sla`.`login_status` = 'success') AS `last_login` from ((`users` `u` left join `account_creation_log` `acl` on(`u`.`user_id` = `acl`.`created_user_id`)) left join `users` `staff` on(`acl`.`created_by_staff_id` = `staff`.`user_id`)) where `u`.`role_id` = 4 order by `u`.`grade_level`,`u`.`last_name`,`u`.`first_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_student_activity_scores`
--

/*!50001 DROP VIEW IF EXISTS `v_student_activity_scores`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_student_activity_scores` AS select `sub`.`submission_id` AS `submission_id`,`sub`.`activity_id` AS `activity_id`,`a`.`title` AS `activity_title`,`a`.`activity_type` AS `activity_type`,concat(`u`.`first_name`,' ',`u`.`last_name`) AS `student_name`,`u`.`grade_level` AS `grade_level`,`s`.`subject_name` AS `subject_name`,`sub`.`total_score` AS `total_score`,`sub`.`max_score` AS `max_score`,`sub`.`percentage` AS `percentage`,`sub`.`submission_status` AS `submission_status`,`sub`.`submitted_at` AS `submitted_at`,`sub`.`graded_at` AS `graded_at`,concat(`t`.`first_name`,' ',`t`.`last_name`) AS `teacher_name` from ((((`student_submissions` `sub` join `activities` `a` on(`sub`.`activity_id` = `a`.`activity_id`)) join `users` `u` on(`sub`.`student_id` = `u`.`user_id`)) join `subjects` `s` on(`a`.`subject_id` = `s`.`subject_id`)) join `users` `t` on(`a`.`teacher_id` = `t`.`user_id`)) order by `sub`.`submitted_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-22 18:33:23
